<!-- FILEPATH: /c:/Users/danie/100 Days of Code/Code/63/day-63-starting-files-library-project/templates/edit.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Edit Page</title>
    </head>
    <body>
        <h1>Edit Page</h1>
        <p>Enter the new rating for the book {{book.title}}.</p>
        <p>Current rating: {{book.rating}}</p>
        <form action="{{url_for('edit', book_id=book.id)}}" method="POST">
            <label for="edit">Edit:</label>
            <input type="text" id="edit" name="rating">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
