<!-- FILEPATH: c:\Users\danie\100 Days of Code\Code\57\day-57-start\template\index.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Hello World</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <h2>{{5*6}}</h2>
        <!-- generate a random number -->
        <h3>Random number: {{num}}</h3>
        <!-- add a p elemnt with the text "Copyright " the variable year ". Built By " variable name using jinja python-->
        <footer>
            <p>Copyright {{year}}. Built By {{name}}</p>
        </footer>
    </body>
</html>
